name: CI
on: [push, pull_request]

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11", "3.12"]
        # https://cloudsmith.io/~eventstore/repos/eventstore-ce/packages/
        # https://cloudsmith.io/~eventstore/repos/eventstore-staging-ce/packages/
        eventstore-docker-image:
          - docker.eventstore.com/eventstore-ce/eventstoredb-ce:22.10.4-jammy
          - docker.eventstore.com/eventstore-ce/eventstoredb-ce:23.10.0-jammy
          - docker.eventstore.com/eventstore-ce/eventstoredb-ce:24.2.0-alpha.115-jammy
          - docker.eventstore.com/eventstore-staging-ce/eventstoredb-oss:24.6.0-jammy
          - docker.eventstore.com/eventstore-staging-ce/eventstoredb-ce:24.10.0-nightly-x64-8.0-jammy
    env:
      EVENTSTORE_DOCKER_IMAGE: ${{ matrix.eventstore-docker-image }}
    runs-on: "ubuntu-22.04"
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Poetry
        run: make install-poetry
      - name: Install packages
        run: make install
      - name: Lint
        run: make lint
      - name: Check asyncio test case
        run: |
          ! poetry run python -m unittest test_isolated_asyncio_test_case.TestAsyncSetupError
          ! poetry run python -m unittest test_isolated_asyncio_test_case.TestAsyncTestError
          ! poetry run python -m unittest test_isolated_asyncio_test_case.TestAsyncTeardownError
          ! timeout --preserve-status --kill-after=10s 5m poetry run python -m unittest test_isolated_asyncio_test_case.TestAsyncSetupError
          ! timeout --preserve-status --kill-after=10s 5m poetry run python -m unittest test_isolated_asyncio_test_case.TestAsyncTestError
          ! timeout --preserve-status --kill-after=10s 5m poetry run python -m unittest test_isolated_asyncio_test_case.TestAsyncTeardownError
      - name: Start EventStoreDB
        run: make start-eventstoredb
      - name: Run tests
        run: make test
      - name: Docker logs - secure cluster
        if: success() || failure()
        run: docker compose logs
      - name: Docker logs - insecure server
        if: success() || failure()
        run: docker logs my-eventstoredb-insecure
      - name: Docker logs - secure server
        if: success() || failure()
        run: docker logs my-eventstoredb-secure
      - name: Report memory
        if: success() || failure()
        run: top -bn1
